@media screen and (min-width: 768px){

    body{
        margin: auto;
        width: 960px;
    }
    
    div{
        position: relative;
        display: block;
        float: left;

    }

    p{
        

    }

    #a{
        width: 100%;
        height: 100px;
        background: rgb(3, 40, 252);
        box-sizing: border-box;
        border: 1px solid rgb(14, 1, 1);
        line-height: 100px;
        text-align: center;

    }

    #b{
        width: 20.8%;
        height: 600px;
        background-image: linear-gradient(rgb(0, 26, 255), rgb(247, 249, 252));;
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
        line-height: 600px;
        text-align: center;
        

    }

    
    #c{
        width: 39.58%;
        height: 200px;
        background: rgb(44, 76, 253);
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
        line-height: 200px;
        text-align: center;
    }

    #d {
        width: 39.58%;
        height: 200px;
        background: rgb(122, 142, 253);
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
        line-height: 200px;
        text-align: center;
    }
    #e{
        width: 19.79%;
        height: 250px;
        background: rgb(122, 142, 253);
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
        line-height: 250px;
        text-align: center;

    }

    #f{
        width: 19.79%;
        height: 250px;
        background: rgb(122, 142, 253);
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
        line-height: 250px;
        text-align: center;
    }

    #g{
        width: 19.79%;
        height: 250px;
        background: rgb(84, 109, 250);
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
        line-height: 250px;
        text-align: center;

    }

    #h{
        width: 19.79%;
        height: 250px;
        background: rgb(44, 76, 253);
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
        line-height: 250px;
        text-align: center;
    }

    #i{
        width: 79.1%;
        height: 150px;
        background: rgb(3, 40, 252);
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
        line-height: 150px;
        text-align: center;
    }
}