@media screen and (max-width: 767px){

    body{
        margin: auto;

    }
    div{
        position: relative;
    }
  

    #a {
    width: 100%;
    height: 75px;
    background-color: orange;
    box-sizing: border-box;
    border: 1px solid black;
    }

    #b{
        width: 100%;
        height: 150px;
        background: #888; 
        border: 1px solid black;
        box-sizing: border-box;
        vertical-align: middle;

    }

    #c{
        width:100%;
        height: 125px;
        background: pink;
        box-sizing: border-box;
        border: 1px soild black
    }

    #d{
        width: 100%;
        height: 125px;
        background: #888;
        box-sizing: border-box;
        border: 1px solid black;
    }

    #e{
        width: 50%;
        height: 250px;
        background: blue;
        box-sizing: border-box;
        border: 1px solid black;
        float: left;

    }

    #f{
        width: 50%;
        height: 250px;
        background: green;
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
    }

    #g{
        width: 50%;
        height: 250px;
        background: yellow;
        box-sizing: border-box;
        border: 1px solid black;
        float: left;

    }

    #h{
        width: 50%;
        height: 250px;
        background: red;
        box-sizing: border-box;
        border: 1px solid black;
        float: left;
    }

    #i{
        width: 100%;
        height: 80px;
        background: #888;
        box-sizing: border-box;
        border: 1px solid black;
        clear: both;

    }